<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
 

  <!-- Links -->
  <ul class="navbar-nav">
  

    <!-- Dropdown -->
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
        Products
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="http://localhost:5000/Products/GetAllProducts">List</a>
        <a class="dropdown-item" href="http://localhost:5000/Products/AddProductForm">Add</a>
       
      </div>
    </li>
  </ul>
</nav>

@RenderBody()
<footer>dsads</footer>