
@using webRazor
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper AuthoringTagHelpers.TagHelpers.EmailTagHelper, AuthoringTagHelpers
@using webRazor.Models;
@model webRazor.Models.Product








    @{
        
           
       List<SelectListItem>listTemp2=(List<SelectListItem>)ViewData["supplier"];

    }
   <form asp-controller="Products" asp-action="AddProduct" >
        </br>
        ProductName:  <input asp-for="ProductName"  type="text"/></br>
        UnitPrice:  <input  asp-for="UnitPrice" type="number"/></br>
               <select asp-for="SupplierID" asp-items="listTemp2"></select>     
        <button type="submit" value="Send form">submit</button>
    </form>
    
